/*@media (max-width: 1200px) {*/
    /*.container {*/
        /*width: 95% !important;*/
    /*}*/
/*}*/
.guest-body {
    max-height: 39px;
    overflow: hidden;
}
.right_col > .x_panel {
    padding-top: 17px;
    padding-bottom: 17px;
}
.right_col > .x_panel > .x_content > div > h1 {
    display: none;
}

.profile_pic .img-circle.profile_img span.glyphicon.glyphicon-user {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #CCC;
    border-radius: 50%;
    text-align: center;
    top: 0;
    padding: 7px;
    color: #ffffff;
}

.breadcrumb {
    background: transparent;
}
.left_col.scroll-view,
.navbar.nav_title,
body,
.left_col,
.nav-sm ul.nav.child_menu {
    /*background: #021b39;*/
    background: #011b39;
    /*background: #0c3d7f;*/
}

.nav_menu {
    background: #0c3d7f;
}

.nav_menu a,
.nav_menu .nav.navbar-nav > li > a {
    color: #FFFFFF !important;
}

.nav.side-menu > li.active > a {
    /*background: linear-gradient(#03325F, #0E4375), #094580;*/
    background: rgba(255, 255, 255, 0.05);
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active,
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 0;
}

.site_title img {
    /*width: 22px;*/
    /*height: 22px;*/
    width: 45px;
    margin-right: 10px;
    margin-left: 5px;
}

.site_title {
    margin-top: 10px;
}

.nav-sm .site_title img {
    width: 40px;
}

.nav_menu .nav.navbar-nav > li > div {
    line-height: 32px;
    padding: 13px 15px 12px;
    color: #ffffff;
}

.main_menu_side {
    margin-top: 20px;
}

.coaching-staff-index .item {
    margin-bottom: 25px;
}