.container {
    /*width: 970px  !important;*/
}

    .navbar {
        border-radius: 0;
    }

    .navbar-top.navbar {
        background: #021b39;
        min-height: 25px;
        /*border-top: 1px solid;*/
        /*border-bottom: 1px solid;*/
        /*border-color: #031e3c;*/
        /*border-color: #021b39;*/
        margin-bottom: 0;
        border: none;
        font-size: 12px;
        position: relative;
        z-index: 200;
    }

        .navbar-nav > li > a {
            padding: 0 5px;
            margin: 5px 0;
            /*padding-top: 5px;*/
            /*padding-bottom: 5px;*/
        }
        .navbar-nav > li:first-child > a {
            /*padding-left: 15px;*/
            padding-left: 0;
        }
        .navbar-nav > li:last-child > a {
            /*padding-right: 15px;*/
            padding-right: 0;
        }

            .navbar .navbar-nav > .active > a {
                background: transparent;
            }

            .navbar .navbar-nav > li > a:hover,
            .navbar .navbar-nav > li > a:focus,
            .navbar .navbar-nav > .active > a:hover,
            .navbar .navbar-nav > .active > a:focus {
                text-decoration: underline;
                /*background: #011023;*/
            }

            .navbar .navbar-nav > li > a {
                color: #ffffff;

            }

    .navbar-bottom {
        background: transparent;
        border: none;
        margin-bottom: 0;
        text-transform: uppercase;
    }

        .navbar-bottom .container {
            background: #0c3d7f;
            /*border-color: #0c3d7f;*/
            box-shadow: 0 0 20px 0px #555;

        }

        .navbar-bottom .navbar-brand {
            height: auto;
        }

        .navbar-login-signup li a {
            border-right: 1px solid #89939f;
            padding: 0 10px;
        }

            .navbar-login-signup li:last-child a {
                border-right: 0;
            }

        .navbar-bottom h3 {
            margin-bottom: 5px;
            font-size: 18px;
        }

        .navbar-bottom h2 {
            padding-bottom: 20px;
            border-bottom: 1px solid #557aa7;
            margin-top: 0;
            font-size: 26px;
        }

        .navbar-bottom h3, .navbar-bottom h2 {
            color: #ffffff;
            font-weight: bold;
            /*text-transform: uppercase;*/
        }

    .wrap {
        background: #d8d8d8;
    }

        .wrap > .container {
            /*padding-top: 10px;*/
            padding-top: 0;
            /*background: #ffffff;*/
            background: #0c3d7f;
            box-shadow: 0 -20px 20px 0 #555;
        }

    .navbar-brand:before {
        content: '';
    }

    .navbar-bottom .navbar-brand {
        position: relative;
        padding: 25px 50px;
    }

        .navbar-bottom .navbar-brand img {
            z-index: 200;
            position: relative;
            height: 120px;
        }

        .navbar-bottom .navbar-brand:before {
            content: '';
            /*box-shadow: 0 0 100px 55px #ffffff;*/
            box-shadow: 0 0 170px 70px rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 25%;
            display: block;
            width: 1px;
            height: 1px;
            z-index: 100;
            left: 50%;
        }

        .navbar-bottom .navbar-nav {
            margin-top: 10px;
            margin-bottom: 10px;        }

            .navbar-bottom .navbar-nav li a {
                border-bottom: 1px solid #557aa7;
                padding: 0;
                margin: 5px 10px;
                font-weight: bold;
            }

                .navbar-bottom .navbar-nav li:first-child a {margin-left: 0}
                .navbar-bottom .navbar-nav li:last-child a {margin-right: 0}

                .navbar-bottom .navbar-nav li a:hover {
                    text-decoration: none;
                    border-bottom-color: #ffffff;
                }

        .carousel-home {
            height: 540px;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 15px;
        }

        .carousel-home:hover .carousel-control {
            /*display: block;*/
        }

            .carousel-control {
                display: none;
            }

            .carousel .carousel-inner img {
                width: 100%;
                height: 540px;
            }

        .carousel-home .carousel-indicators {
            text-align: right;
            bottom: 130px;
            width: 63%;
        }

            .carousel-home .carousel-indicators li {
                opacity: 0.5;
                background: #FFFFFF;
            }

                .carousel-home .carousel-indicators li.active {
                    opacity: 1;
                    background: #01326d;
                    width: 10px;
                    height: 10px;
                    margin: 1px;
                }

    .site-index .panel {
        border-radius: 0;
        border: none;
    }

        .site-index .panel-heading {
            background-color: #0b4c9c;
            border-radius: 0;
            border: none;
        }

        .news-index .well {
            background: #ffffff;
            position: relative;

        }

        .site-index .news-index .well {
            -webkit-box-shadow: 0 0 5px #eee;
            -moz-box-shadow: 0 0 5px #eee;
            -o-box-shadow: 0 0 5px #eee;
            box-shadow: 0 0 5px #eee;
            border-color: #f1f1f1;
        }

        .news-index .a:hover .well {
            /*border-width: 3px;*/
            /*margin: -2px -2px 20px;*/
            box-shadow: none;
        }

        .news-index a .well:before {
            content: '';
            position: absolute;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            border: 3px solid ;
            border-color: #0B4B9C;
        }
            .site-index .news-index a .well:before {
                border-color: #23527c;
            }

            .news-index a:hover .well:before {
                opacity: 1;

            }

            .news:hover {
                /*color: inherit;*/
            }

        .index-video {
            background: #00306a;
            padding: 10px;
            background: linear-gradient(to right, #00316b,#0b4c9d);
        }

        /*.index-video body, .index-video .ytp-hide-controls {*/
            /*background: transparent;*/
        /*}*/

        /*.index-video .ytp-title {*/
            /*display: none;*/
        /*}*/

    .carousel-caption {
        position: absolute;
        top: 5%;
        bottom: 170px;
        right: 2%;
        left: auto;
        /*vertical-align: middle;*/
        /*height: auto;*/
        /*min-height: auto;*/
        width: 300px;
        background: rgba(255, 255, 255, 0.9);
        color: #011f5f;
        text-shadow: none;
        padding: 15px;
        text-align: left;
    }

    .news-index h1, .news-index .summary {
        color: #FFFFFF;
    }

    .carousel-home {
        position: relative;
    }

        .carousel-promo {
            position: absolute;
            bottom: 0;
            /*height: 140px;*/
            background: rgba(255, 255, 255, 0.95);
            left: 0;
            right: 0;
        }

        .carousel-promo > .row > div:first-child {
            border-right: 1px solid #d9d9d9;
        }

        .promo-game-block {
            padding: 20px 40px;
            color: #00316b;
        }

        .carousel-promo > .row > div:first-child .promo-game-block {
            padding-right: 25px;
        }
        .carousel-promo > .row > div:last-child .promo-game-block {
            padding-left: 25px;
        }
            .promo-game-header {
                border-bottom: 1px solid #e6e6e6;
                padding-bottom: 2px;
            }

            .promo-game-link {
                font-size: 9px;
                display: inline-block;
                float: right;
                color: inherit;
                text-transform: uppercase;
            }

            .promo-game-date {
                display: inline-block;
                font-weight: bold;
                text-transform: uppercase;
            }

            .promo-game-row {
                /* display: table; */
                /* width: 100%; */
                /*margin: 0;*/
                padding-top: 17px;
            }

                .promo-game-row > div:first-child > span {
                    padding-left: 20px;
                }

                .promo-game-row > div:last-child > span {
                    padding-right: 20px;
                }

                .promo-game-row > div {
                    /*display: table-cell;*/
                    /*vertical-align: middle;*/
                    /*float: none;*/
                }

                .promo-game-team > span {
                    /*padding: 0 10px;*/
                }
                    .promo-game-team img {
                        width: 40px;
                    }

                .promo-game-score {
                    font-size: 35px;
                    padding: 0;
                }

            .promo-game-team {
                text-transform: uppercase;
                font-size: 16px;
            }

        .vtop {
            display: inline-block;
            float: none;
            vertical-align: top;
        }

        .vcenter {
            display: inline-block;
            float: none;
            vertical-align: middle;
        }
/*color: #00316b;*/

        .date-category {
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 15px;
            max-width: 100%;
            white-space: nowrap;
        }

            .news-date {
                font-weight: bold;
                color: #0b4c9d;
                border-right: 1px solid #4879b6;
                padding-right: 7px;
                margin-right: 7px;
            }

            .news-category {
                color: #c3c3c3;
                font-style: italic;
                font-size: 10px;
            }

            .news-img img {
                 height: 140px;
            }

            .news-block .img-responsive {
                width: 100%;
            }

            .news-block h4 {
                text-transform: uppercase;
                font-size: 14px;
                margin-top: 20px;
            }

                .news-index a:hover h4 {
                    color:#01316d;
                }

            .news-index-content {
                font-size: 12px;
                color: #555555;
            }
                .news-index a:hover .news-index-content {
                    color:#0b4c9c
                }

        .all-news-link {
            font-size: 12px;
            margin: 10px 0;
        }
            .all-news-link a {
                color: #01316c;
                text-decoration: underline;
            }

                .all-news-link a:hover {
                    text-decoration: none;
                }