html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

a:hover, a:focus, a:hover:focus {
    text-decoration: none;
}

    a {
        color: #333333;
        text-decoration: none;
    }

    .news-index .img-thumbnail {
        /*width: 100%;*/
    }

    /*@media (max-width: 1200px) {*/
        /*.container {*/
            /*width: 970px !important;*/
        /*}*/
    /*}*/

    @media (max-width: 1200px) {
        .container {
            width: 95% !important;
        }
    }

    /*.news-index a:hover .well {*/
        /*border-color: #23527c;*/
    /*}*/
    .news {
        color: inherit;
    }
    .news:hover {
        text-decoration: none;
    }
    .news-block {
        /*height: 300px;*/
        /*overflow: hidden;*/
        border-bottom: solid 1px #bebebe;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .news-block-content h4 {
        margin-top: 0;
    }

    .news-block > div {
        position: relative;
    }

    .news-block-content {
        position: static;
    }

    .news-date-category {
        position: absolute;
        bottom: 0;
    }

    .news-date {
        color: #bdbebe;
    }

    .gallery-view-block {
        overflow: hidden;
        margin-left: -10px;
        margin-right: -10px;
    }

    .gallery-view-box {
        float: left;
        padding: 0 10px;
    }

    .gallery-index .gallery-view-box .glyphicon {
        font-size: 80px;
        padding-right: 20px;
    }

    .gallery-index .gallery-view-box-name {
        padding-right: 20px;
        max-width: 100px;
    }

        .gallery-index .gallery-view-block .item {
            /*float: left;*/
            display: inline-block;
            vertical-align: top;
            /*float: none;*/
            margin-top: 15px;
        }

    /*.gallery-view-box {*/
        /*float: left;*/
        /*padding: 0 10px 10px;*/
    /*}*/

    .news-list-block {
        display: block;
        padding: 30px 20px;
        border-top: 2px solid #0C3D7F;
        color: #555555;
        transition: 0.3s;
    }

    .news-index .list-view .news-item:nth-last-child(2) .news-list-block{
        border-bottom: 2px solid #0C3D7F;
    }

        .news-list-block .day {
            font-size: 40px;
            line-height: 40px;
            color: #8c8c8c;
        }
        .news-list-block .month {
            /* background: #F1F1F1; */
            padding: 0 10px;
            background: #c8c8c8;
            color: #fff;
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
        }
        .news-list-block .year {
            color: #8c8c8c;
            font-size: 22px;
        }
        .news-list-block img {
            height: 100px;
        }

        .news-list-block h3 {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: bold;
        }
        .news-list-block-link:hover {
            text-decoration: none;
        }

    .video-right-block-top {
        min-height: 230px;
    }

    /*.news-home .list-view .news:nth-child(1),*/
    /*.news-home .list-view .news:nth-child(2) {*/
        /*width: 50%;*/
        /*!*float: left;*!*/
        /*display: table-cell;*/
    /*}*/

    .news-home .list-view .news-block-0.news-first-blocks,
    .news-home .list-view .news-block-2.news-first-blocks {
        padding-right: 15px;
    }

    .news-home .list-view .news-block-1.news-first-blocks,
    .news-home .list-view .news-block-3.news-first-blocks{
        padding-left: 15px;
    }

        .news-first-blocks .news-block-img img {
            width: 100%;
            height: 320px;
        }

    .news-first-blocks a.news-home-link {
        height: 45px;
        display: block;
        margin-top: 10px;
    }

    .news-first-blocks .news-home-text {
        height: 80px;
    }

    .news-first-blocks .news-date-category {
        position: static;
    }

    .guest-book-index .list-view .glyphicon-user {
        color: #DDDDDD;
        border: 3px solid #DDDDDD;
        padding-top: 5px;
        line-height: 39px;
    }

    .guest-book-block-date {
        margin-top: 15px;
    }

    .guest-book-block-content {
        margin-top: 10px;
        border-radius: 0;
        box-shadow: none;
        border: none;
        padding: 10px 20px;
        font-size: 12px;
        color: #2b3043;
        background: #e9eae8;
        min-height: 50px;
    }

    .news-home .list-view .news:nth-child(1),
    .news-home .list-view .news:nth-child(2),
    .news-home .list-view .news:nth-child(3),
    .news-home .list-view .news:nth-child(4) {
        width: 50%;
        display: table-cell;
        float: left;
    }

    .news-home .list-view .news:nth-child(5) {
        clear: both;
    }

    .news-first-blocks .news-home-text {
        overflow: hidden;
        height: 90px;
    }

    .standings .main-team {
        font-weight: bold;
    }

    .games-view-score-teams > div {
        display: inline-block;
    }

    .games-view .tab-pane {
        padding: 20px 16px 20px;
        border: 1px solid #DDDDDD;
        border-top: 0;
        border-radius: 0 0 4px 4px;
    }

    .carousel-promo.well {
        padding: 0;
    }

    .carousel-inner {
        padding: 24px 49px;
    }

    .carousel-control {
        width: 49px;
    }

    .carousel-3d .item {
        background: #ffffff;
        padding: 15px;
        opacity: 0.7;
    }

    .carousel-3d .item.active {
        opacity: 1;
    }

    .carousel-3d .item {
        width: 450px;
    }

    .carousel-3d {
        height: 135px;
        padding-top: 20px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .carousel-3d .carousel-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /*background: whitesmoke;*/
        background: #337AB7;
        z-index: 4;
    }

    .carousel-3d .carousel-control {
        z-index: 7;
        background: transparent;
    }

    .carousel-2d {
        /*height: 100px;*/
    }

    .promo-game-row {
        display: table;
        width: 100%;
    }

    .vcenter {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    .promo-game-team {
        padding: 0;
        white-space: nowrap;
    }

    .promo-game-date {
        text-align: center;
        margin-bottom: 10px;
    }

    .promo-game-score > div {
        background: #337AB7;
        color: #ffffff;
        border-radius: 4px;
        padding: 2px 6px;
    }

    .carousel-2d:before {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 10px;
        width: 1px;
        background: #DDDDDD;
        left: 49%;
    }

    .text-right.promo-game-team > span {
        margin-right: 10px;
    }

    .text-left.promo-game-team > span {
        margin-left: 10px;
    }

    .players-index .list-view .item {
        margin-top: 20px;
    }

    .players-index h3 {
        margin-bottom: 0;
        font-weight: bold;
        font-style: italic;
    }

    .players-index .list-view {
        border-bottom: 1px solid #E3E3E3;
        padding-bottom: 25px;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .players-index .list-view:last-child {
        border-bottom: 0;
        padding-bottom: 10px;
    }

    .players-index .players-surname {
        font-weight: bold;
        text-transform: uppercase;
    }

    .players-index .players-info-block {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .players-index .players-number-block {
        position: absolute;
        bottom: 0;
        color: #7f7f7f;
        text-transform: uppercase;
    }

    .players-index .players-name {
        margin-top: 15px;
    }

    .players-index .players-number {
        font-weight: bold;
        color: #00316b;
        font-size: 18px;
    }

    .players-index .players-img-box {
        background: #ffffff;
        padding: 5px 5px 0 5px;
    }

    .players-index .list-view:first-child h3 {
        margin-top: 0;
    }

    .player-img-box {
        /*width: 265px;*/
        display: inline-block;
        width: 100%;
        position: relative;
        background: linear-gradient(#ffffff 10%, #FBFBFB 50%,#D9D9D9);
    }

    .player-number-img {
        position: absolute;
        left: 0;
        top: 0;
        background: #00316b;
        color: #ffffff;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 70px;
        font-weight: bold;
    }

    .player-img-block {
        padding-right: 0;
    }

    .player-info-block {
        height: 400px;
        padding-left: 0;
    }

    .player-info-subblock {
        background: #00316b;
        color: #ffffff;
        padding: 30px;
        font-size: 16px;
        height: 100%;
    }

    .player-name-surname {
        font-size: 35px;
    }
    .player-name-surname b {
        text-transform: uppercase;
    }

    .player-role {
        margin-right: 15px;
        text-transform: uppercase;
    }

    .player-info {
        padding: 30px;
        border-top: 2px solid #ffffff;
        margin: 30px -30px;
        border-bottom: 2px solid #ffffff;
    }

    .player-info .player-info-box, .player-game-info .player-info-box {
        display: inline-block;
        margin-right: 40px;
    }

    .player-info-box {
        text-transform: uppercase;
        /*font-size: 14px;*/
    }

    .player-info-box div {
        font-weight: bold;
         /*font-size: 16px;*/
    }

    .player-game-info .player-info-box {
        min-width: 100px;
    }

    .player-game-info {
        margin-bottom: 10px;
    }

    .player-content-block {
        background: #ffffff;
    }

    .player-content-block h2 {
        position: relative;
    }

    .player-content-block h2 span {
        position: absolute;
        left: -40px;
    }